<%= form_tag boards_path, method: :get do %>
        <div class="row search">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "検索キーワード", class: "form-control", style: "width: auto; display: inline-block" %>
            <%= submit_tag "検索", :title => nil, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>