<div class="row">
	<div class="col-xs-3 sidebar">
		<% @categories.each do |category| %>
			<table class="table">
				<tr><%= link_to category.name, category_path(category) %></tr>
			</table>
		<% end %>
	</div>

	<div class="col-xs-8 main-top">
		<% if @model == 'board' %>
			<h2>Users search for '<%= params["search"]["content"] %>'</h2>

			<table class="table">
					
					<% @boards.each do |board| %>
					<tr>
					<%= board.title %>
					</tr>
					<% end %>
			</table>

		<% elsif @model == 'response' %>
		<table class="table">
			<% @responses.each do |response| %>
					<tr>
					<%= resoponse.content %>
					</tr>
					<% end %>
			</table>
			<% end %>

	</div>
</div>