<div class="col-xs-4">
	<div class="sidebar">
		<h1>Home#top</h1>
		<p>Find me in app/views/home/top.html.erb</p>
		<% @categories.each do |category| %>
			<%#= category.name %>
			<%= link_to category.name, boards_path(category_id: category.id) %>
		<% end %>
	</div>
</div>

