<div class="row">
	<div class="col-xs-3 sidebar">
		<% @categories.each do |category| %>
			<table class="table">
				<tr><%= link_to category.name, boards_path(category_id: category.id) %></tr>
			</table>
		<% end %>
	</div>

	<div class="col-xs-8 main-top">
	</div>
</div>

