<div class="row">
	<div class="col-xs-4 sidebar">
		<h1>boards#index</h1>
		<p>Find me in app/views/home/top.html.erb</p>
	</div>

	<div class="col-xs-8 main-top">
		<% @boards.each do |board| %>
			<p>
				<%= link_to board_path(board) do %>
				<%= board.title %><% end %>
			</p>
		<% end %>
	</div>
</div>